<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dataJS</title>
  </head>
  <body>
    <h1>USER DIRECTORY</h1>
    <ul>
      {{#user}}
      <li>
        <a href="data.js"></a>
        {{.}}</li>
      {{/user}}
    </ul>

  </body>
</html>
